@import "../../../app-colors.scss";

$padding: 15px;
$borders: 15px;

$desktop: 840px;


#bg {
     background-image: url("../../../assets/images/university-105709.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
    // position: absolute;
    z-index: -1;
}

.signup-card{
  margin-top:32px;
  height:85vh;
  overflow-x:hidden;
  overflow-y:auto;
}

$padding: 15px;
$borders: 15px;
$desktop: 840px;

.signup-form{
    mat-form-field{
        height:40px;
    }
    mat-checkbox{
        font-size: smaller;
        margin-top:8px;
        margin-left:15px;
    }
    .signup-form-field{
        margin:12px;
    }
    mat-radio-button{
        margin-right:16px;
    }
   
}


.active-tab-heading {
    border-bottom: 3px solid color(primary) !important;
    color: color(primary) !important;
    font-weight: bolder;
  }

  .tab-heading {
    font-size: 19px;
    margin: 15px 0px;
    padding: 10px 15px;
    border-bottom: 3px solid color(accent);
    color: color(accent);
    cursor: pointer;
  }

  .primary-button{
    width: 150px;
    color: white;
    background: color(primary);
    text-align: center;
    padding: 5px;
    cursor: pointer;
  }

  .secondary-button{
    width: 150px;
    color: white;
    text-align: center;
    background:color(accent);
    padding: 5px;
    margin-right:15px;
    cursor: pointer;
  }

  .hoverMaterialCard {
    cursor: pointer;
  }
  
  .hoverMaterialCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .user-type-text{
    font-size: 18px; 
    font-weight: 600;
  }
  
  .user-type-image{
    padding: 15px;
    border-radius: 50%;
  }

  mat-icon{
      height: 35px;
      width: 35px;
      font-size: 35px;
      color:#FFFF;
  }

  .active-type{
      background-color: #2a913b !important;
  }
  .mat-raised-button[disabled]{
    color: rgba(0,0,0,.26);
    background-color: rgba(0,0,0,.12);
  }

  .about-info{
    font-weight: 300;
    font-size: smaller;
    color: #797777;
    margin-top:5px;
  }

  .about-heading{
    font-size: large;
  }

  .about-icons{
    margin-right:10px;
    font-size: x-large;
  }






