<div class="app-content" fxLayout="column" *ngIf="!isLoading">
    <div fxFlex class="search-bar">
      <mat-accordion>
        <mat-expansion-panel (opened)="searchPanelOpenState = true" [expanded]="searchPanelOpenState"
          (closed)="searchPanelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="center center">
              <div class="app-name" fxFlex>
                Time Slots Management
              </div>
              <div fxLayout='row' fxLayoutAlign="center center" class="open-search-button">
                {{searchPanelOpenState ? 'Close' : 'Open'}} Search
              </div>
              <!-- <button mat-raised-button color="primary">{{searchPanelOpenState ? 'Close' : 'Open'}} Search</button> -->
            </mat-panel-title>
  
          </mat-expansion-panel-header>
  
          <div fxLayout="column">
            <div fxFlex>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="30">
                  <input type="text" matInput [(ngModel)]="searchObj.roomNumber" placeholder="Room Number">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  
  
    </div>
  
    <div class="app-body" fxLayout="column">
      <div class="filter-bar">
        <div fxLayoutAlign="row" fxLayoutAlign="start center">
  
          <mat-form-field fxFlex="60">
            <input matInput (keyup)="applyFilter($event.target.value)"
              placeholder="Filter by Username, Email, Firstname and Lastname">
          </mat-form-field>
          <mat-icon>filter_list</mat-icon>
          <div fxFlex></div>
          <div>
            <button class="affirmative-button" mat-raised-button (click)="createNewTimeslot()">
              <mat-icon style="margin-right:5px;">add</mat-icon>Create New
            </button>
          </div>
        </div>
      </div>
      <div fxFlex class="table-container">
        <table mat-table [dataSource]="timeslotDataSource" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef> S.no </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <ng-container matColumnDef="start">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="start">Start Time </th>
              <td mat-cell *matCellDef="let element"> {{element.start_time}} </td>
            </ng-container>


            <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="end">End Time </th>
                <td mat-cell *matCellDef="let element"> {{element.end_time}} </td>
              </ng-container>

          <ng-container matColumnDef="labs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="labs">Labs Assigned </th>
              <td mat-cell *matCellDef="let element"> {{element.labs.length}} </td>
            </ng-container>
  
          <!-- <ng-container matColumnDef="lab">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="lab"> Lab </th>
            <td mat-cell *matCellDef="let element"> {{element.lab.room_number}} </td>
          </ng-container>
  
          <ng-container matColumnDef="student">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="student"> Student </th>
            <td mat-cell *matCellDef="let element"> {{element['student'] ? element['student']['username'] : 'NA'}} </td>
          </ng-container> -->
  
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="createdDate"> Created Date</th>
            <td mat-cell *matCellDef="let element"> {{element.date_created | date:'short'}} </td>
          </ng-container>
  
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon title="View" (click)="editTimeslot(element)"
                class="table-action-icons table-action-icon-primary">remove_red_eye</mat-icon>
              <mat-icon title="Edit" (click)="editTimeslot(element)" class="table-action-icons table-action-icon-warn"
                *ngIf="isAdmin">edit</mat-icon>
              <mat-icon title="Delete" (click)="deleteTimeslot(element)" class="table-action-icons table-action-icon-danger">delete
              </mat-icon>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div fxLayout="row" class="table-pagination" fxLayoutAlign="center center">
          <mat-paginator [length]="totalTimeslots" [pageIndex]="searchObj.page" [pageSize]="searchObj.size"
            [pageSizeOptions]="pageSizeOptions" showFirstLastButtons (page)="pageEvent = paginationFunction($event)">
          </mat-paginator>
        </div>
  
      </div>
    </div>
  
  </div>
  
  <div class="app-content" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>