<div fxLayout="column" style="padding:10px;">

  <div fxFlex style="margin:20px;">
    <div class="feed-data" fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-card class="feed-cards" fxFlex="33" >
        <mat-card-content>
          <div class="card-head-icon-button" style="background-image: linear-gradient(60deg,#669cbb,#4368a0);">
            <i class="fas fa-user-tag"></i>
          </div>
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="49" style="text-align:center">
              <h3 class="feed-name">
                Pending Tasks
              </h3>
              <h2 class="feed-value">
               6
              </h2>
            </div>
            <div fxFlex="1" style="border-right:1px solid lightgrey"></div>
            <div fxFlex="50" style="text-align:center">
              <h3 class="feed-name">
              Current Exercise
              </h3>
              <h2 class="feed-value">
                2
              </h2>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="feed-cards" fxFlex="63" *ngIf="userData['user_type'] == '1' && userData['exam']">
        <mat-card-content>
          <div class="card-head-icon-button" style=" background-image:linear-gradient(60deg,#66bb6a,#2b502d);">
            <i class="fas fa-user"></i>
          </div>
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="33" style="text-align:center" >
              <h3 class="feed-name">
                Exam
              </h3>
              <h3  class="feed-value">
               {{userData['exam']['name']}}
              </h3 >
            </div>
            <div fxFlex="1" style="border-right:1px solid lightgrey"></div>
            <div fxFlex="33" style="text-align:center">
              <h3 class="feed-name">
                Logged In IP
              </h3>
              <h3  class="feed-value">
                  {{loggedInIp}}
              </h3 >
            </div>

            <div fxFlex="1" style="border-right:1px solid lightgrey"></div>
            <div fxFlex="33" style="text-align:center">
              <h3 class="feed-name">
                Assigned IP
              </h3>
              <h3  class="feed-value">
                  {{userData['ip']['ip']}}
              </h3 >
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="feed-cards" fxFlex="33" *ngIf="userData['user_type'] == '1'" style="margin-top:30px;">
          <mat-card-content>
            <div class="card-head-icon-button" style="background-image: linear-gradient(60deg,#669cbb,#4368a0);">
              <i class="fas fa-user-tag"></i>
            </div>
            <div fxLayout="row" fxLayoutAlign="start none">
              <div fxFlex="49" style="text-align:center">
                <h3 class="feed-name">
                  Lab
                </h3>
                <h2 class="feed-value">
                 {{labData.room_building}}
                </h2>
              </div>
              <div fxFlex="1" style="border-right:1px solid lightgrey"></div>
              <div fxFlex="50" style="text-align:center">
                <h3 class="feed-name">
                Time Slot
                </h3>
                <h2 class="feed-value">
                 {{userData['time_slot']['start_time'] +':'+ userData['time_slot']['end_time']}}
                </h2>
              </div>
            </div>
          </mat-card-content>
        </mat-card>





    </div>
  </div>