<div fxLayout="column" style="padding:10px;">

  <div fxFlex style="margin:20px;">
    <div class="feed-data" fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-card class="feed-cards" fxFlex="33">
        <mat-card-content>
          <div class="card-head-icon-button" style="background-image: linear-gradient(60deg,#669cbb,#4368a0);">
            <i class="fas fa-user-tag"></i>
          </div>
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="49" style="text-align:center">
              <h3 class="feed-name">
                Pending Tasks
              </h3>
              <h2 class="feed-value">
               6
              </h2>
            </div>
            <div fxFlex="1" style="border-right:1px solid lightgrey"></div>
            <div fxFlex="50" style="text-align:center">
              <h3 class="feed-name">
              Current Exercise
              </h3>
              <h2 class="feed-value">
                2
              </h2>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="feed-cards" fxFlex="63">
        <mat-card-content>
          <div class="card-head-icon-button" style=" background-image:linear-gradient(60deg,#66bb6a,#2b502d);">
            <i class="fas fa-user"></i>
          </div>
          <div fxLayout="row" fxLayoutAlign="start none">
            <div fxFlex="23" style="text-align:center">
              <h3 class="feed-name">
                Admin
              </h3>
              <h2 class="feed-value">
                118
              </h2>
            </div>
            <div fxFlex="1" style="border-right:1px solid lightgrey"></div>
            <div fxFlex="23" style="text-align:center">
              <h3 class="feed-name">
                Student
              </h3>
              <h2 class="feed-value">
                200
              </h2>
            </div>

            <div fxFlex="1" style="border-right:1px solid lightgrey"></div>
            <div fxFlex="23" style="text-align:center">
              <h3 class="feed-name">
                Dept
              </h3>
              <h2 class="feed-value">
               5
              </h2>
            </div>

            <div fxFlex="1" style="border-right:1px solid lightgrey"></div>
            <div fxFlex="23" style="text-align:center">
              <h3 class="feed-name">
               Next Deadline
              </h3>
              <h2 class="feed-value">
                5 Days
              </h2>
            </div>
          </div>
        </mat-card-content>
      </mat-card>





    </div>
  </div>