mat-dialog-container{
    overflow-y:hidden;
}

.loader-wait{
    text-align: center;
    margin-top: 20px;
}

.file-action-button{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    cursor: pointer;
    color: #000 !important;
}
